Repository snowflakedb/snowflake-connector-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-native-http, check-optional-imports

check-no-native-http:
  name: Check for native HTTP calls
  entry: python ci/pre-commit/check_no_native_http.py
  language: system
  args:
  - --show-fixes

check-optional-imports:
  name: Check for direct imports of modules which might be unavailable
  entry: python ci/pre-commit/check_optional_imports.py
  language: system
  args:
  - --show-fixes

updating3
  Jenkinsfile
  ci/test_revocation.sh
Due: none

updating4
  Jenkinsfile
  ci/test_revocation.sh
Due: none

updating5
  ci/test_revocation.sh
Due: none

updating6
  ci/test_revocation.sh
Due: none

updating7
  ci/test_revocation.sh
Due: none

updating8
  ci/test_revocation.sh
Due: none

updating9
  ci/test_revocation.sh
Due: none

testing with docker
  Jenkinsfile
  ci/test_revocation.sh
Due: none

no docker
  Jenkinsfile
  ci/test_revocation.sh
Due: none

python change
  Jenkinsfile
  ci/test_revocation.sh
Due: none

cleanup
  Jenkinsfile
  ci/test_revocation.sh
Due: none

use main branch
  ci/test_revocation.sh
Due: none

init push
  ci/set_base_image.sh
  ci/test_authentication.sh
Due: none

artifactory cred
  Jenkinsfile
  ci/set_base_image.sh
Due: none

artifactory cred2
  Jenkinsfile
Due: none

docker/
  ci/set_base_image.sh
  ci/test_authentication.sh
Due: none

login
  Jenkinsfile
Due: none

no docker
  ci/set_base_image.sh
  ci/test_authentication.sh
Due: none

docker2
  ci/set_base_image.sh
  ci/test_authentication.sh
Due: none

linting
  ci/set_base_image.sh
Due: none

SNOW-2389788: Moving docker images to artifactory (#2761)
  Jenkinsfile
  ci/set_base_image.sh
  ci/test_authentication.sh
Due: none

Bump major top 4.3.0
  DESCRIPTION.md
  src/snowflake/connector/version.py
Due: check-no-native-http, check-optional-imports

Update requirements files
  tested_requirements/requirements_310.reqs
  tested_requirements/requirements_311.reqs
  tested_requirements/requirements_312.reqs
  tested_requirements/requirements_313.reqs
  tested_requirements/requirements_39.reqs
Due: none

update date
  DESCRIPTION.md
Due: none

Bump major to 4.3.0 (#2762)
  DESCRIPTION.md
  src/snowflake/connector/version.py
  tested_requirements/requirements_310.reqs
  tested_requirements/requirements_311.reqs
  tested_requirements/requirements_312.reqs
  tested_requirements/requirements_313.reqs
  tested_requirements/requirements_39.reqs
Due: check-no-native-http, check-optional-imports

catching all exception not just RuntimeError
  src/snowflake/connector/util_text.py
Due: check-no-native-http, check-optional-imports

SNOW-3020359 expand tilde to key file path in connection (#2759)
  DESCRIPTION.md
  src/snowflake/connector/auth/_auth.py
  src/snowflake/connector/connection.py
  src/snowflake/connector/util_text.py
  test/unit/test_auth_keypair.py
Due: check-no-native-http, check-optional-imports

[SNOW-2853586]: Add secondary_roles connection parameter (#2750)
  DESCRIPTION.md
  src/snowflake/connector/aio/auth/_auth.py
  src/snowflake/connector/auth/_auth.py
  src/snowflake/connector/connection.py
  test/unit/aio/test_secondary_roles_async.py
  test/unit/test_secondary_roles.py
Due: check-no-native-http, check-optional-imports

SNOW-2373677: Integrate revocation validations in driver repositories as a test suite (#2760)
  Jenkinsfile
  ci/test_revocation.sh
Due: none

Add python 3.14 support
  .github/workflows/build_test.yml
  .github/workflows/create_req_files.yml
  DESCRIPTION.md
  Jenkinsfile
  README.md
  ci/anaconda/conda_build.sh
  ci/anaconda/recipe/meta.yaml
  ci/build_darwin.sh
  ci/build_docker.sh
  ci/build_linux.sh
  ci/build_windows.bat
  ci/docker/connector_test_fips/Dockerfile
  ci/docker/connector_test_lambda/Dockerfile39
  ci/docker/connector_test_lambda/app.py
  ci/test_darwin.sh
  ci/test_docker.sh
  ci/test_fips.sh
  ci/test_fips_docker.sh
  ci/test_lambda_docker.sh
  ci/test_linux.sh
  ci/test_revocation.sh
  ci/test_rockylinux9.sh
  ci/test_windows.bat
  setup.cfg
  src/snowflake/connector/aio/_session_manager.py
  test/aiodep/unsupported_python_version.py
  tested_requirements/requirements_39.reqs
  tox.ini
Due: check-optional-imports

support jwt in aws wif
  src/snowflake/connector/wif_util.py
  test/csp_helpers.py
  test/unit/test_auth_workload_identity.py
Due: check-no-native-http, check-optional-imports

replace JWT-like test token with simple fake string
  test/csp_helpers.py
Due: none

Fix linting and add missing Dockerfile314
  ci/docker/connector_test_lambda/Dockerfile314
  src/snowflake/connector/aio/_session_manager.py
Due: check-optional-imports

Fix changelog formatting in DESCRIPTION.md
  DESCRIPTION.md
Due: none

Add python 3.14 support
  .github/workflows/build_test.yml
  .github/workflows/create_req_files.yml
  DESCRIPTION.md
  Jenkinsfile
  ci/anaconda/conda_build.sh
  ci/anaconda/recipe/meta.yaml
  ci/build_darwin.sh
  ci/build_linux.sh
  ci/build_windows.bat
  ci/docker/connector_test_lambda/Dockerfile314
  ci/docker/connector_test_lambda/app.py
  ci/test_darwin.sh
  ci/test_linux.sh
  ci/test_revocation.sh
  ci/test_rockylinux9.sh
  setup.cfg
  tox.ini
Due: none

Fix doc that indicates JSON temporary credential is encrypted
  src/snowflake/connector/token_cache.py
Due: check-no-native-http, check-optional-imports

Correct minor typo in version.py
  src/snowflake/connector/version.py
Due: check-no-native-http, check-optional-imports

notes and telemetry info added
  src/snowflake/connector/platform_detection.py
  src/snowflake/connector/wif_util.py
Due: check-no-native-http, check-optional-imports

add region when get web identity token
  src/snowflake/connector/wif_util.py
Due: check-no-native-http, check-optional-imports

Path conditions:
  check-no-native-http: any of: ^src/snowflake/connector/.*\.py$ and not ((?x)^(
    src/snowflake/connector/session_manager\.py|
    src/snowflake/connector/aio/_session_manager\.py|
    src/snowflake/connector/vendored/.*
)$
) and not (^src/snowflake/connector/vendored.*$)
  check-optional-imports: any of: ^src/snowflake/connector/.*\.py$ and not (src/snowflake/connector/options.py) and not (^src/snowflake/connector/vendored.*$)
