Repository snowflakedb/snowflake-connector-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-native-http, check-optional-imports

.pre-commit-config.yaml:

exclude: '^src/snowflake/connector/vendored.*$'
repos:
-   repo: meta
    hooks:
        - id: check-hooks-apply
        - id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: >
            (?x)^(
                src/snowflake/connector/nanoarrow_cpp/ArrowIterator/flatcc/.*\.h|
                src/snowflake/connector/nanoarrow_cpp/ArrowIterator/nanoarrow_ipc.c|
            )$
    -   id: end-of-file-fixer
        exclude: >
            (?x)^(
                license_header.txt|
                src/snowflake/connector/nanoarrow_cpp/ArrowIterator/flatcc/.*\.h|
            )$
    -   id: check-yaml
        exclude: >
            (?x)^(
                .github/repo_meta.yaml|
                ci/anaconda/recipe/meta.yaml|
            )$
    -   id: debug-statements
    -   id: check-ast
-   repo: https://github.com/asottile/yesqa
    rev: v1.5.0
    hooks:
    -   id: yesqa
-   repo: https://github.com/mgedmin/check-manifest
    rev: "0.50"
    hooks:
    -   id: check-manifest
-   repo: local
    hooks:
    -   id: check-no-native-http
        name: Check for native HTTP calls
        entry: python ci/pre-commit/check_no_native_http.py
        language: system
        files: ^src/snowflake/connector/.*\.py$
        exclude: |
            (?x)^(
                src/snowflake/connector/session_manager\.py|
                src/snowflake/connector/aio/_session_manager\.py|
                src/snowflake/connector/vendored/.*
            )$
        args: [--show-fixes]
    -   id: check-optional-imports
        name: Check for direct imports of modules which might be unavailable
        entry: python ci/pre-commit/check_optional_imports.py
        language: system
        files: ^src/snowflake/connector/.*\.py$
        exclude: src/snowflake/connector/options.py
        args: [--show-fixes]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.13.0'
    hooks:
    -   id: mypy
        files: |
            (?x)^src/snowflake/connector/(
                constants
                | compat
                | dbapi
                | description
                | errorcode
                | feature
                | file_compression_type
                | file_util
                | gzip_decoder
                | proxy
                | secret_detector
                | sfbinaryformat
                | snow_logging
                | sqlstate
                | ssd_internal_keys
                | test_util
                | util_text
                | url_util
                | version
                | config_parser
            ).py$
        additional_dependencies:
            - types-requests
            - types-urllib3
            - types-setuptools
            - types-pyOpenSSL
            - types-setuptools
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.3
  hooks:
  - id: clang-format
    types_or: [c++, c]
    exclude: >
        (?x)^(
            src/snowflake/connector/nanoarrow_cpp/ArrowIterator/flatcc/.*\.h|
        )$
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.8
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

Skip offline_access scope for Snowflake custom OAuth
  src/snowflake/connector/auth/_oauth_base.py
  test/unit/test_oauth_base_scope.py
Due: check-no-native-http, check-optional-imports

NO-SNOW: Fix OAuth authorization code refresh-token caching and Snowflake-as-IdP scope
  src/snowflake/connector/auth/_oauth_base.py
  src/snowflake/connector/auth/oauth_code.py
  test/unit/test_auth_oauth_auth_code.py
Due: check-no-native-http, check-optional-imports

NO-SNOW: drop Python 3.9 support
  .github/workflows/build_test.yml
  .github/workflows/create_req_files.yml
  .github/workflows/generated_full_matrix.json
  .github/workflows/generated_pr_matrix.json
  CONTRIBUTING.md
  DESCRIPTION.md
  README.md
  ci/anaconda/conda_build.sh
  ci/anaconda/recipe/meta.yaml
  ci/build_darwin.sh
  ci/build_docker.sh
  ci/build_linux.sh
  ci/build_windows.bat
  ci/docker/connector_test_lambda/Dockerfile39
  ci/docker/connector_test_rockylinux9/Dockerfile
  ci/generate_full_matrix.py
  ci/test_darwin.sh
  ci/test_docker.sh
  ci/test_fips.sh
  ci/test_fips_docker.sh
  ci/test_lambda_docker.sh
  ci/test_linux.sh
  ci/test_revocation.sh
  ci/test_rockylinux9.sh
  ci/test_rockylinux9_docker.sh
  ci/test_windows.bat
  prober/Dockerfile
  prober/testing_matrix.json
  setup.cfg
  src/snowflake/connector/aio/_session_manager.py
  tox.ini
Due: check-optional-imports

NO-SNOW: move FIPS image to Python 3.11
  .github/workflows/build_test.yml
  .github/workflows/generated_pr_matrix.json
  ci/docker/connector_test_fips/Dockerfile
  ci/generate_full_matrix.py
  ci/test_fips.sh
  ci/test_fips_docker.sh
Due: none

NO-SNOW: switch FIPS image base from centos:8 to rockylinux:9
  ci/docker/connector_test_fips/Dockerfile
  ci/test_fips.sh
Due: none

NO-SNOW: bootstrap pip via ensurepip in FIPS image
  ci/docker/connector_test_fips/Dockerfile
Due: none

NO-SNOW: keep PR test matrix at 3.10 only; build py3.11 wheel for FIPS
  .github/workflows/build_test.yml
  .github/workflows/generated_pr_matrix.json
  ci/generate_full_matrix.py
Due: none

NO-SNOW: drop EOL Python 3.9 support (#2889)
  .github/workflows/build_test.yml
  .github/workflows/create_req_files.yml
  .github/workflows/generated_full_matrix.json
  .github/workflows/generated_pr_matrix.json
  CONTRIBUTING.md
  DESCRIPTION.md
  README.md
  ci/anaconda/conda_build.sh
  ci/anaconda/recipe/meta.yaml
  ci/build_darwin.sh
  ci/build_docker.sh
  ci/build_linux.sh
  ci/build_windows.bat
  ci/docker/connector_test_fips/Dockerfile
  ci/docker/connector_test_lambda/Dockerfile39
  ci/docker/connector_test_rockylinux9/Dockerfile
  ci/generate_full_matrix.py
  ci/test_darwin.sh
  ci/test_docker.sh
  ci/test_fips.sh
  ci/test_fips_docker.sh
  ci/test_lambda_docker.sh
  ci/test_linux.sh
  ci/test_revocation.sh
  ci/test_rockylinux9.sh
  ci/test_rockylinux9_docker.sh
  ci/test_windows.bat
  prober/Dockerfile
  prober/testing_matrix.json
  setup.cfg
  src/snowflake/connector/aio/_session_manager.py
  tox.ini
Due: check-optional-imports

SNOW-3569023: bump vendored urllib3 to 2.7.0
  DESCRIPTION.md
  src/snowflake/connector/vendored/urllib3/_base_connection.py
  src/snowflake/connector/vendored/urllib3/_collections.py
  src/snowflake/connector/vendored/urllib3/_version.py
  src/snowflake/connector/vendored/urllib3/connection.py
  src/snowflake/connector/vendored/urllib3/connectionpool.py
  src/snowflake/connector/vendored/urllib3/contrib/emscripten/response.py
  src/snowflake/connector/vendored/urllib3/contrib/pyopenssl.py
  src/snowflake/connector/vendored/urllib3/contrib/socks.py
  src/snowflake/connector/vendored/urllib3/exceptions.py
  src/snowflake/connector/vendored/urllib3/fields.py
  src/snowflake/connector/vendored/urllib3/poolmanager.py
  src/snowflake/connector/vendored/urllib3/response.py
  src/snowflake/connector/vendored/urllib3/util/retry.py
  src/snowflake/connector/vendored/urllib3/util/ssl_.py
  src/snowflake/connector/vendored/urllib3/util/ssl_match_hostname.py
Due: none

SNOW-3569023: bump vendored urllib3 to 2.7.0 (#2888)
  DESCRIPTION.md
  src/snowflake/connector/vendored/urllib3/_base_connection.py
  src/snowflake/connector/vendored/urllib3/_collections.py
  src/snowflake/connector/vendored/urllib3/_version.py
  src/snowflake/connector/vendored/urllib3/connection.py
  src/snowflake/connector/vendored/urllib3/connectionpool.py
  src/snowflake/connector/vendored/urllib3/contrib/emscripten/response.py
  src/snowflake/connector/vendored/urllib3/contrib/pyopenssl.py
  src/snowflake/connector/vendored/urllib3/contrib/socks.py
  src/snowflake/connector/vendored/urllib3/exceptions.py
  src/snowflake/connector/vendored/urllib3/fields.py
  src/snowflake/connector/vendored/urllib3/poolmanager.py
  src/snowflake/connector/vendored/urllib3/response.py
  src/snowflake/connector/vendored/urllib3/util/retry.py
  src/snowflake/connector/vendored/urllib3/util/ssl_.py
  src/snowflake/connector/vendored/urllib3/util/ssl_match_hostname.py
Due: none

Bump up version to 4.6.0
  DESCRIPTION.md
  src/snowflake/connector/version.py
Due: check-no-native-http, check-optional-imports

Update requirements files
  tested_requirements/requirements_310.reqs
  tested_requirements/requirements_311.reqs
  tested_requirements/requirements_312.reqs
  tested_requirements/requirements_313.reqs
  tested_requirements/requirements_314.reqs
Due: none

Bump up version to 4.6.0 (#2890)
  DESCRIPTION.md
  src/snowflake/connector/version.py
  tested_requirements/requirements_310.reqs
  tested_requirements/requirements_311.reqs
  tested_requirements/requirements_312.reqs
  tested_requirements/requirements_313.reqs
  tested_requirements/requirements_314.reqs
Due: check-no-native-http, check-optional-imports

SNOW-3392651: replace URL_VALIDATOR regex with urllib.parse in is_valid_url
  src/snowflake/connector/url_util.py
Due: check-no-native-http, check-optional-imports

running
  prober/probes/put_fetch_get.py
  prober/probes/put_fetch_get_fail_closed.py
Due: none

SNOW-3392651: replace URL_VALIDATOR regex with urllib.parse in is_valid_url
  DESCRIPTION.md
Due: none

SNOW-3392651: update changelog entry wording
  DESCRIPTION.md
Due: none

fixing
  prober/probes/put_fetch_get.py
Due: none

workaround on batching
  prober/probes/put_fetch_get.py
Due: none

SNOW-3388299: validate scale metadata before indexing into Arrow time/timestamp converters
  DESCRIPTION.md
  src/snowflake/connector/nanoarrow_cpp/ArrowIterator/CArrowChunkIterator.cpp
  test/unit/test_arrow_invalid_scale.py
Due: none

NO-SNOW: fix test-lambda matrix evaluation and drop py3.9 reqs leftover
  .github/workflows/build_test.yml
  tested_requirements/requirements_39.reqs
Due: none

update on deletion
  prober/probes/put_fetch_get.py
Due: none

NO-SNOW: fix test-lambda matrix evaluation and drop py3.9 reqs leftover (#2895)
  .github/workflows/build_test.yml
  tested_requirements/requirements_39.reqs
Due: none

NO-SNOW: fix test-lambda matrix by filtering aws entries in define-matrix
  .github/workflows/build_test.yml
Due: none

cleanup
  prober/probes/put_fetch_get.py
Due: none

SNOW-3392651: harden is_valid_url against control chars and non-string input
  src/snowflake/connector/url_util.py
  test/unit/test_url_util.py
Due: check-no-native-http, check-optional-imports

fix(hostname): replace underscores with hyphens in account identifier
  src/snowflake/connector/util_text.py
Due: check-no-native-http, check-optional-imports

cleanup
  prober/probes/put_fetch_get.py
  prober/probes/put_fetch_get_fail_closed.py
Due: none

new versions
  prober/Dockerfile
  prober/testing_matrix.json
Due: none

chore: Add changelog entry
  DESCRIPTION.md
Due: none

Mark Arrow iterator C extension as free-threading-compatible
  DESCRIPTION.md
  pyproject.toml
  setup.cfg
  src/snowflake/connector/nanoarrow_cpp/ArrowIterator/nanoarrow_arrow_iterator.pyx
Due: none

Fix lazy-init races in Arrow iterator C++ backend for free-threading
  DESCRIPTION.md
  src/snowflake/connector/nanoarrow_cpp/ArrowIterator/DateConverter.cpp
  src/snowflake/connector/nanoarrow_cpp/ArrowIterator/DecimalConverter.cpp
  src/snowflake/connector/nanoarrow_cpp/ArrowIterator/TimeConverter.cpp
  src/snowflake/connector/nanoarrow_cpp/Logging/logging.cpp
  src/snowflake/connector/nanoarrow_cpp/Logging/logging.hpp
Due: none

Enable cibuildwheel cpython-freethreading wheel builds
  DESCRIPTION.md
  pyproject.toml
Due: none

Add free-threading import regression test
  DESCRIPTION.md
  test/unit/test_freethreading_import.py
Due: none

Add cp314t conda recipe variant for free-threaded Python 3.14t
  DESCRIPTION.md
  ci/anaconda/recipe/meta.yaml
Due: none

SNOW-3392651: address review feedback
  DESCRIPTION.md
  test/unit/test_url_util.py
Due: none

Add release notes and fix lint for PR #2886
  DESCRIPTION.md
  src/snowflake/connector/auth/_oauth_base.py
  test/unit/test_oauth_base_scope.py
Due: check-no-native-http, check-optional-imports

Update DESCRIPTION.md
  DESCRIPTION.md
Due: none

NO-SNOW: handle S3 307/308 redirects with re-signing
  src/snowflake/connector/s3_storage_client.py
  test/unit/test_s3_util.py
Due: check-no-native-http, check-optional-imports

refactor: extract _handle_s3_redirect for better SRP
  src/snowflake/connector/s3_storage_client.py
Due: check-no-native-http, check-optional-imports
