Repository snowflakedb/snowflake-connector-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-no-native-http, check-optional-imports

.pre-commit-config.yaml:

exclude: '^src/snowflake/connector/vendored.*$'
repos:
-   repo: meta
    hooks:
        - id: check-hooks-apply
        - id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: >
            (?x)^(
                src/snowflake/connector/nanoarrow_cpp/ArrowIterator/flatcc/.*\.h|
                src/snowflake/connector/nanoarrow_cpp/ArrowIterator/nanoarrow_ipc.c|
            )$
    -   id: end-of-file-fixer
        exclude: >
            (?x)^(
                license_header.txt|
                src/snowflake/connector/nanoarrow_cpp/ArrowIterator/flatcc/.*\.h|
            )$
    -   id: check-yaml
        exclude: >
            (?x)^(
                .github/repo_meta.yaml|
                ci/anaconda/recipe/meta.yaml|
            )$
    -   id: debug-statements
    -   id: check-ast
-   repo: https://github.com/asottile/yesqa
    rev: v1.5.0
    hooks:
    -   id: yesqa
-   repo: https://github.com/mgedmin/check-manifest
    rev: "0.50"
    hooks:
    -   id: check-manifest
-   repo: local
    hooks:
    -   id: check-no-native-http
        name: Check for native HTTP calls
        entry: python ci/pre-commit/check_no_native_http.py
        language: system
        files: ^src/snowflake/connector/.*\.py$
        exclude: |
            (?x)^(
                src/snowflake/connector/session_manager\.py|
                src/snowflake/connector/aio/_session_manager\.py|
                src/snowflake/connector/vendored/.*
            )$
        args: [--show-fixes]
    -   id: check-optional-imports
        name: Check for direct imports of modules which might be unavailable
        entry: python ci/pre-commit/check_optional_imports.py
        language: system
        files: ^src/snowflake/connector/.*\.py$
        exclude: src/snowflake/connector/options.py
        args: [--show-fixes]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.13.0'
    hooks:
    -   id: mypy
        files: |
            (?x)^src/snowflake/connector/(
                constants
                | compat
                | dbapi
                | description
                | errorcode
                | feature
                | file_compression_type
                | file_util
                | gzip_decoder
                | proxy
                | secret_detector
                | sfbinaryformat
                | snow_logging
                | sqlstate
                | ssd_internal_keys
                | test_util
                | util_text
                | url_util
                | version
                | config_parser
            ).py$
        additional_dependencies:
            - types-requests
            - types-urllib3
            - types-setuptools
            - types-pyOpenSSL
            - types-setuptools
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.3
  hooks:
  - id: clang-format
    types_or: [c++, c]
    exclude: >
        (?x)^(
            src/snowflake/connector/nanoarrow_cpp/ArrowIterator/flatcc/.*\.h|
        )$
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.8
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

SNOW-2091473: Rollback note related
  .pre-commit-config.yaml
Due: none

NO-SNOW:precommit update
  .pre-commit-config.yaml
Due: none

SNOW-2091473: Description udpate
  DESCRIPTION.md
Due: none

NO-SNOW: precommit autoupdate
  .pre-commit-config.yaml
Due: none

NO-SNOW: precommit autoupdate
  .pre-commit-config.yaml
  tox.ini
Due: none

NO-SNOW: precommit autoupdate
  .github/workflows/build_test.yml
  .pre-commit-config.yaml
Due: none

NO-SNOW:precommit update (#2735)
  .github/workflows/build_test.yml
  .pre-commit-config.yaml
  tox.ini
Due: none

SNOW-2091473: Async tests added
  test/integ/aio_it/test_converter_async.py
Due: none

SNOW-2923722: Improved testing, comments, errors and moved to aio connector
  src/snowflake/connector/aio/_connection.py
  src/snowflake/connector/auth/keypair.py
  test/unit/test_auth_keypair.py
Due: check-no-native-http, check-optional-imports

SNOW-2923722: Added DESCRIPTION.md entry
  DESCRIPTION.md
Due: none

NO-SNOW: fixed silently failing constructor (#2526)
  src/snowflake/connector/ocsp_asn1crypto.py
Due: check-no-native-http, check-optional-imports

SNOW-2923722: Fixed failing tests
  src/snowflake/connector/auth/_auth.py
Due: check-no-native-http, check-optional-imports

SNOW-2690900: isolate-server_session_keep_alive-condition (#2722)
  DESCRIPTION.md
  src/snowflake/connector/aio/_connection.py
  src/snowflake/connector/connection.py
  test/unit/aio/test_connection_async_unit.py
  test/unit/test_connection.py
Due: check-no-native-http, check-optional-imports

SNOW-2919437 Python support for AWS WIF using get_web_identity_token
  src/snowflake/connector/wif_util.py
Due: check-no-native-http, check-optional-imports

Add secondary_roles connection parameter
  DESCRIPTION.md
  src/snowflake/connector/aio/auth/_auth.py
  src/snowflake/connector/auth/_auth.py
  src/snowflake/connector/connection.py
  test/unit/aio/test_secondary_roles_async.py
  test/unit/test_secondary_roles.py
Due: check-no-native-http, check-optional-imports

fix: Add isinstance check for secondary_roles to avoid MagicMock serialization error
  src/snowflake/connector/aio/auth/_auth.py
  src/snowflake/connector/auth/_auth.py
Due: check-no-native-http, check-optional-imports

[SNOW-2464063] bugfix: Fix string representation for year-month subtypes
  src/snowflake/connector/arrow_context.py
  src/snowflake/connector/converter.py
  src/snowflake/connector/interval_util.py
  src/snowflake/connector/nanoarrow_cpp/ArrowIterator/CArrowChunkIterator.cpp
  src/snowflake/connector/nanoarrow_cpp/ArrowIterator/IntervalConverter.cpp
  src/snowflake/connector/nanoarrow_cpp/ArrowIterator/IntervalConverter.hpp
  test/integ/test_interval_types.py
Due: check-no-native-http, check-optional-imports

fix test and update description.md
  DESCRIPTION.md
  test/unit/test_converter.py
Due: none

[SNOW-2464063] bugfix: Fix string representation for year-month subtypes (#2601)
  DESCRIPTION.md
  src/snowflake/connector/arrow_context.py
  src/snowflake/connector/converter.py
  src/snowflake/connector/interval_util.py
  src/snowflake/connector/nanoarrow_cpp/ArrowIterator/CArrowChunkIterator.cpp
  src/snowflake/connector/nanoarrow_cpp/ArrowIterator/IntervalConverter.cpp
  src/snowflake/connector/nanoarrow_cpp/ArrowIterator/IntervalConverter.hpp
  test/integ/test_interval_types.py
  test/unit/test_converter.py
Due: check-no-native-http, check-optional-imports

add glob escaoe
  src/snowflake/connector/file_transfer_agent.py
Due: check-no-native-http, check-optional-imports

SNOW-2920022: Potential fix of mem leak
  src/snowflake/connector/session_manager.py
  test/unit/test_session_manager.py
Due: check-optional-imports

Snow-2091473: converter doesnt properly convert lists of bytes (#2734)
  DESCRIPTION.md
  src/snowflake/connector/converter.py
  test/integ/aio_it/test_converter_async.py
  test/integ/test_converter.py
  test/unit/test_converter.py
Due: check-no-native-http, check-optional-imports

Snow-2923722: add private key passphrase kwargs to connection init (#2736)
  DESCRIPTION.md
  src/snowflake/connector/aio/_connection.py
  src/snowflake/connector/auth/_auth.py
  src/snowflake/connector/auth/keypair.py
  src/snowflake/connector/connection.py
  test/unit/test_auth_keypair.py
Due: check-no-native-http, check-optional-imports

SNOW-3012459: Extend core telemetry
  src/snowflake/connector/_utils.py
  test/unit/test_util.py
Due: check-no-native-http, check-optional-imports

fixup! SNOW-3012459: Extend core telemetry
  test/unit/test_util.py
Due: none

fixup! fixup! SNOW-3012459: Extend core telemetry
  src/snowflake/connector/_utils.py
Due: check-no-native-http, check-optional-imports

fixup! fixup! fixup! SNOW-3012459: Extend core telemetry
  src/snowflake/connector/_utils.py
  test/unit/test_util.py
Due: check-no-native-http, check-optional-imports

SNOW-3012459: Extend core telemetry (#2742)
  src/snowflake/connector/_utils.py
  test/unit/test_util.py
Due: check-no-native-http, check-optional-imports

Add ECDSA key support for key-pair authentication (ES256/384/512)
  src/snowflake/connector/auth/keypair.py
Due: check-no-native-http, check-optional-imports

Lint files
  src/snowflake/connector/auth/keypair.py
Due: check-no-native-http, check-optional-imports

Add tests for EC auth key pairs
  test/unit/test_auth_keypair.py
Due: none

SNOW-2439940: Deprecated custom revocation error classes in OCSP
  DESCRIPTION.md
  src/snowflake/connector/constants.py
  src/snowflake/connector/ocsp_snowflake.py
  test/unit/test_ocsp.py
Due: check-no-native-http, check-optional-imports

fixup! SNOW-2439940: Deprecated custom revocation error classes in OCSP
  src/snowflake/connector/ocsp_snowflake.py
Due: check-no-native-http, check-optional-imports

NO-SNOW: Add aio notice
  MANIFEST.in
  src/snowflake/connector/aio/NOTICE.md
  src/snowflake/connector/aio/__init__.py
Due: check-no-native-http, check-optional-imports

Avoid loading compat module on package import
  src/snowflake/connector/test_util.py
Due: check-no-native-http, check-optional-imports

SNOW-3008357: bugfix
  src/snowflake/connector/file_transfer_agent.py
Due: check-no-native-http, check-optional-imports

Add secondary roles connection param
  .pre-commit-config.yaml
  DESCRIPTION.md
  src/snowflake/connector/aio/auth/_auth.py
  src/snowflake/connector/auth/_auth.py
  src/snowflake/connector/connection.py
  test/unit/test_secondary_roles.py
Due: check-no-native-http, check-optional-imports

Undo
  .pre-commit-config.yaml
Due: none
